body {
    background-color: olive;
}
.jumbotron {
    background-image: url(./Images/mae-mu-Pvclb-iHHYY-unsplash.jpg);
    background-position-x: 15%;
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: #000000;
    color: whitesmoke;
}

.panel

hr {
    display: block;
    height: 1px;
    /* width: 25%; */
    border: 0;
    border-top: 1px solid whitesmoke;
    margin: 1em 0;
    padding: 0; }

main {
    background-color: bisque ;
    color: darkred ; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: cursive;
}

img {
    width: 100%;
}

